
@{
    ViewBag.Title = "NotFound";
}

<h2>
    No result! There are no copies available for this movie...
</h2>

@Html.ActionLink("Back to customers list", "Index", "Users", new { Area = "Users" }, new { @class = "btn btn-primary" })