
@{
    ViewBag.Title = "NotFound";
}

<h2>
    No result! The Movie is not found!
</h2>

@Html.ActionLink("Back to List", "Index", "Movies", new { Area = "Movies"}, new { @class = "btn btn-primary" })

