
@{
    ViewBag.Title = "NotFound";
}

<h2>
    No result! No active rentals found for this user...
</h2>

@Html.ActionLink("Back to List", "Index", "Users", new { Area = "Users"}, new { @class = "btn btn-primary" })

