
@{
    ViewBag.Title = "NotFound";
}

<h2>
    Sorry! There are no copies available for this movie...
</h2>

@Html.ActionLink("Back to movies list", "Index", "Movies", new { Area = "Movies"}, new { @class = "btn btn-primary" })

